html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin: 2rem;
  @media (max-width: 768px) {
    margin: 1rem;
  }
}

.mat-mdc-header-cell.text-center {
  text-align: center;
}
.mat-mdc-cell.text-center {
  text-align: center;
}

